<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="ComputerShop" connectionString="Data Source=DESKTOP-ESKKMMP;Initial Catalog=ComputerShop;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="DAL" value="DB"/>
    <add key="BLL" value="BASIC"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>